*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: rgb(30,30,40);
    color: wheat;
    flex-direction: row;
    height: 100vh;
    font-family: 'Silkscreen', cursive;
}
/* .......................................Encabezado......................................... */ 
.encabezado{
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(20,20,30);
    width: 100%;
    
}
.botones{
    display: flex;
    flex-direction: row;
    
}
.boton-texto:focus,.boton-imagen:focus{
    background-color: rgb(50, 50,60);
}
.boton-texto:hover,.boton-imagen:hover,.boton-modo-oscuro:hover{
    background-color: rgb(50, 50,60);
    transition: background 0.2s 0s ease;
}
.boton-texto,.boton-imagen,.boton-modo-oscuro{
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    padding: 7px;
    color: wheat;
}
/* ........................................Principal........................................... */
.main-content{
    height: 100vh;
    width: 80%;
}
.texto-y-meme{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88%; 
}
.caja-meme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    width: 550px;
    background-color: black;
}
.caja-arriba,.caja-abajo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    background-color: white;
}
.button-download-meme:hover{
    background-color: rgb(109, 161, 30);
    transition: background 0.2s 0s ease;
}
.button-download-meme{
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
    background-color: greenyellow;
    border-style: none;
    border-radius: 13px;
    color: rgb(0, 0, 0);
}
/* ........................................Sidebar-General........................................... */
.sidebars{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: rgb(40, 40, 50);

}
/* ........................................Sidebar-Image........................................... */
.sidebar-image,.sidebar-url,.sidebar-filters{
    display: flex;
    flex-direction: column;
}

.sidebar-color{
    display: flex;
    flex-direction: row;
}
.rango{
    appearance: none;
    height: 10px;
    border-radius: 15px;
    margin: 2%;
    background-color: #4b4b4b;
}

.reset-filters:hover{
    background-color: rgb(80,80,100);
    transition: background 0.2s 0s ease;
}
.reset-filters{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(60,60,80);
    border-style: none;
    border-radius: 13px;
}
.fondo-oscuro{
    background-color: rgb(50,50,60);
    
}
.fondo-oscuro:focus-visible {
    outline:none;
}
/* ........................................Sidebar-Text........................................... */
.fondo-oscuro-texto{
    background-color: rgb(50,50,60);
    border-style: none;
   
}
.fondo-oscuro-texto:focus-visible {
    outline:none;
}
.sidebar-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    display: none;
}
.checkbox-text{
    display: flex;
    flex-direction: row;
}
.number-button{
    width: 50%;
}
.color-background{
    display: flex;
    flex-direction: row;
}
.text-color{
    display: flex;
    flex-direction: column;
}
.text-background{
    display: flex;
    flex-direction: column;
}
.fondo-transparente{
    display: flex;
    flex-direction: row;
}
/* .......................................................................................................... */
.lightmode{
    background-color: rgb(233, 233, 229);
    transition: background 0.2s 0s ease;
  
    }
    .ivorymode{
        background-color: rgb(240, 240, 182);  
        transition: background 0.2s 0s ease;
          color: rgb(30,30,40);
    }
    .yellowmode{
        background-color: rgb(240, 224, 156);
        transition: background 0.2s 0s ease;
    }

